@model ListProductsVM

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center mt-2">Admin Products</h1>
        <hr />
        <a href="/admin/products/create" class="btn btn-success mb-3"> Add Product </a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="text-center">
                    <th style="width:30px;">Id</th>
                    <th style="width:150px;">Image</th>
                     <th>Name</th>
                    <th style="width:80px;">Price</th>
                    <th style="width:120px;">Approved ?</th>
                    <th style="width:120px;">Home ?</th>
                    <th style="width:180px;">Action</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Products.Count() > 0)
                {

                    @foreach (var p in Model.Products)
                    {
                        <tr class="text-center">
                            <td>@p.Id</td>
                            <td><img src="~/img/@p.ImageUrl" width="90px" style="object-fit:scale-down;height:100px"/></td>
                            <td class="text-left">@p.Name</td>
                            <td>@p.Price</td>
                            <td>
                                @if (p.IsApproved)
                                {
                                    <i class="fa-solid fa-circle-check fa-lg text-success"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-circle-xmark fa-lg text-danger"></i>
                                }
                            </td>
                            <td>
                                @if (p.IsHome)
                                {
                                    <i class="fa-solid fa-circle-check fa-lg text-success"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-circle-xmark fa-lg text-danger"></i>
                                }
                            </td>
                            <td>
                                <a asp-action="EditProduct" asp-controller="admin" asp-route-id="@p.Id" class="btn btn-warning btn-sm mr-3">Edit</a>
                                @* <a href="/admin/products/@p.Id" class="btn btn-danger btn-sm">Delete</a> *@
                                
                                @* 2. yöntem *@
                                <form method="post" action="/Admin/DeleteProduct" style="display:inline;">
                                    <input type="hidden" name="deleteId" value="@p.Id" />
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </td>
                                
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No Products</h3>
                    </div>
                }

            </tbody>
        </table>
    </div>
</div>

@* alert box'ın kaybolması için *@
<script>
    setTimeout(() => {
        document.querySelector(".alert_box").style.display = "none";
    }, 2000);
</script>