@model List<OrderListVM>

<h1>Orders</h1>
<hr>

@foreach (var order in Model)
{
    <table class="table table-bordered table-sm mb-5">
        <thead class="bg-danger">
            <tr class="text-white">
                <td colspan="2">Order Id: #@order.OrderNumber</td>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in order.OrderItems)
            {
                <tr>
                    <td><img src="~/img/@orderItem.ImageUrl" alt="" width="50"></td>
                    <td>
                        @orderItem.Name
                    </td>
                    <td>@orderItem.Price</td>
                    <td>@orderItem.Quantity</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Customer Name</td>
                <td>@order.FirstName @order.LastName</td>
                <td rowspan="6">Total: @order.TotalPrice().ToString("c")</td>
            </tr>
            <tr>
                <td colspan="2">Address: </td>
                <td>@order.Address</td>
            </tr>
              <tr>
                <td colspan="2">Email: </td>
                <td>@order.Email</td>
            </tr>
              <tr>
                <td colspan="2">Phone: </td>
                <td>@order.Phone</td>
            </tr>
              <tr>
                <td colspan="2">Order Status: </td>
                <td>@order.OrderState</td>
            </tr>
               <tr>
                <td colspan="2">Payment Type </td>
                <td>@order.PaymentType</td>
            </tr>
        </tfoot>
    </table>
}
